<ion-view view-title="Tabla Nutricional">
  <ion-content class="accou">
    <ion-list>
    	<div class="cotainer">
			<div class="row">
			  <div class="col col-50"><img src="img/1.jpg" class="acco"></div>
			  <div class="col"><h2 class="tiemp">Desayuno.</h2></div>
			  <div class="col"></div>
			</div>

			<div class="row">
			  <div class="col"><h2 class="tiem">Refacción por la mañana.</h2></div>
			  <div class="col"><img src="img/2.jpeg" class="acco"></div>
			</div>

			<div class="row">
			  <div class="col"><h2 class="tiemp">Almuerzo.</h2></div>
			  <div class="col col-70"><img src="img/3.jpg" class="acco"></div>
			</div>

			<div class="row">
			  <div class="col"><img src="img/4.jpg" class="acco"></div>
			  <div class="col"><h2 class="tiem">Refacción por la tarde.</h2></div>
			</div>

			<div class="row">
			  <div class="col"><h2 class="tiemp">Cena</h2></div>
			  <div class="col"><img src="img/5.jpg" class="acco"></div>
			</div>
    	</div>
    </ion-list>
  </ion-content>
</ion-view>
