<ion-view view-title="Juego">
  <ion-content class="juego-io">
  	 <section class="memory-game">
    <div class="memory-card" data-framework="apple">
      <img class="front-face" src="img/a.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="apple">
      <img class="front-face" src="img/4.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>

    <div class="memory-card" data-framework="clementine">
      <img class="front-face" src="img/6.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="clementine">
      <img class="front-face" src="img/c.png" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>

    <div class="memory-card" data-framework="grapes">
      <img class="front-face" src="img/7.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="grapes">
      <img class="front-face" src="img/d.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>

    <div class="memory-card" data-framework="watermelon">
      <img class="front-face" src="img/8.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="watermelon">
      <img class="front-face" src="img/b.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>

    <div class="memory-card" data-framework="strawberry">
      <img class="front-face" src="img/9.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="strawberry">
      <img class="front-face" src="img/e.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>

    <div class="memory-card" data-framework="persimmon">
      <img class="front-face" src="img/11.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
    <div class="memory-card" data-framework="persimmon">
      <img class="front-face" src="img/k.jpg" alt="" />
      <img class="back-face" src="https://github.com/gminova/talk-tool/blob/master/img/card-back.jpg?raw=true" alt="back" />
    </div>
  </section>

  </ion-content>
</ion-view>
