<ion-view view-title="Juego">
  <ion-content class="juego-io">
  	 
    <div class="container">
        <!--    HEADER SECTION     -->
        <header>
            <h1 class="jue">Juego de Memoria.</h1>
        </header>

        <!--    SCORE PANEL SECTION     -->
        <section class="score-panel">
            <!--    STARS     -->
          <ul class="stars">
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
          </ul>

            <!--    MOVES     -->
            <span class="moves">0</span>
            <span class="moves-text">Moves</span>

            <!--    TIMER     -->
            <div class="timer">
                <span class="minCount">00</span>
                <span class="dots">:</span>
                <span class="secCount">00</span>
            </div>

            <!--    RESTART BUTTON     -->
            <div class="restart">
            <i class="fa fa-repeat"></i>
            </div>

            <!--    PAUSE BUTTON     -->
        </section>

        <!--    CARDS SECTION     -->
        <ul class="deck">
            <li class="card">
                <img class="icon avocado" src="img/6.jpg" alt="avocado">
            </li>
            <li class="card">
                <img class="icon avocado" src="img/6.jpg" alt="avocado">
            </li>
            <li class="card">
                <img class="icon banana" src="img/k.jpg" alt="banana">
            </li>
            <li class="card">
                <img class="icon banana" src="img/k.jpg" alt="banana">
            </li>
            <li class="card">
                <img class="icon cherry" src="https://res.cloudinary.com/jutzee/image/upload/v1538133256/memory-game/cherry.svg" alt="cherry">
            </li>
            <li class="card">
                <img class="icon cherry" src="https://res.cloudinary.com/jutzee/image/upload/v1538133256/memory-game/cherry.svg" alt="cherry">
            </li>
            <li class="card">
                <img class="icon grapes" src="https://res.cloudinary.com/jutzee/image/upload/v1538133256/memory-game/grapes.svg" alt="grapes">
            </li>
            <li class="card">
                <img class="icon grapes" src="https://res.cloudinary.com/jutzee/image/upload/v1538133256/memory-game/grapes.svg" alt="grapes">
            </li>
            <li class="card">
                <img class="icon lemon" src="https://res.cloudinary.com/jutzee/image/upload/v1538133257/memory-game/lemon.svg" alt="lemon">
            </li>
            <li class="card">
                <img class="icon lemon" src="https://res.cloudinary.com/jutzee/image/upload/v1538133257/memory-game/lemon.svg" alt="lemon">
            </li>
            <li class="card">
                <img class="icon plum" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/plum.svg" alt="plum">
            </li>
            <li class="card">
                <img class="icon plum" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/plum.svg" alt="plum">
            </li>
            <li class="card">
                <img class="icon raspberry" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/raspberry.svg" alt="raspberry">
            </li>
            <li class="card">
                <img class="icon raspberry" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/raspberry.svg" alt="raspberry">
            </li>
            <li class="card">
                <img class="icon watermelon" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/watermelon.svg" alt="watermelon">
            </li>
            <li class="card">
                <img class="icon watermelon" src="https://res.cloudinary.com/jutzee/image/upload/v1538133258/memory-game/watermelon.svg" alt="watermelon">
            </li>
        </ul>
    </div>

  </ion-content>
</ion-view>
