  <ion-view view-title="Galería">
 <ion-content class="padding">
   <h2 class="dash">Bienvenido</h2>
   <div class="container">
      <div class="row">

        <div class="col">.col</div>
        <div class="col">
          <iframe src="https://www.youtube.com/embed/m8iuW-qtPBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col"></div>
        <div class="col">.col</div>
      </div>
   </div>

   <div class="container">
      <div class="row">
        <div class="col col-50"></div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col col-75"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
        <div class="col"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
      </div>

      <div class="row">
        <div class="col"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
        <div class="col col-75"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
      </div>

      <div class="row">
        <div class="col"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
        <div class="col"><img src="https://www.ecured.cu/images/5/50/Agua.jpeg" class="img-dash"></div>
      </div>
   </div>  
 </ion-content>
</ion-view>
