/* Empty. Add your own CSS if you like */
h2.dash {
	text-align: center;
}
iframe.vid-dash {
	width: 100%;
}
img.img-dash {
	width: 100%;
}
img.acco {
	width: 100%;
}
.accou {
	background-color: #0288D1;
}
h2.tiem {
	background-color: #FFCA28;
	border: 1px solid #FFC107;
}
h2.tiemp {
	background-color: #FFCA28;
	border: 1px solid #FFC107;
	text-align: center;
	margin-top: 15px;
}